.login{
    width: 100%;
    height:100%;
    background-color: rgb(198, 118, 14);
    display: flex;
    
}
.login .leftpanel{
    flex:1;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    color:aliceblue;
    width:400px;
}
.login .rightpanel{
    flex:1;
    display:flex;
    justify-content: center;
    align-items: center;
}
.login .rightpanel .card input{
    width:100%;
    height:30px;
    border:1px solid white;
    border: radius 3px;
}
.login .rightpanel .card input:focus{
    border:1px solid plum;
}
.login.rightpanel.card button{
    width: 100%;
    height:35px;
    border:none;
    border-radius:3px;
    background:#667eea;
    color:white;
    cursor:pointer;
}
.login.rightpanel.card button:hover{
    background:#3557ef;
}